<h1 style="text-align:center">KONTYNENTY</h1>

<% @root_path = Rails.root.join('app', 'assets', 'images','continents') %> 
<div class="container ">
  <div class="row">
  	<% @continents.each do |continent| %>
  	<div class="col-sm-2" style="text-align: center">  	
  		<%
=begin%>
 <%= link_to continent, note_collection_path(continent) %><br/> 
<%
=end%>
  		<% if (File.exist?(@root_path + (continent.file_name))) %>
        	<%= link_to (image_tag("continents/" + continent.file_name, :alt => "Kontynent", style:"width:80%")), note_collection_path(continent)   %>
        <% else %>
      	<%= image_tag("flags/test.png", :alt => "rss feed" ) %>
    	<% end %>
  	</div> 
  	<% end %>
  </div>
</div>

