<div class="container">
	<%= link_to (render 'renders/button_back'), back_to_country_note_collection_path(@currencies[0].country.continent), class:"btn btn-secondary btn-sm" %>
	<h3>WALUTY</h3>
	<%= render 'renders/show_flag_country' %>
</div>
<div class="container">
	<% @currencies.each do |currency| %>
		<div class="btn btn-secondary btn-sm" style="margin:10px;">
			<%= link_to (currency.currency_series.to_s), show_note_path(currency), style:"color:black; margin:10px; padding:10px" %>
			
		</div>
	<% end %>
</div>