<div class="container">
	<h3>WALUTY</h3>
	<%= render 'notes/show_flag_country' %>
</div>
<div class="container">
	<% @currencies.each do |currency| %>
		<div class="btn btn-secondary btn-sm" style="margin:10px;">
			<%= link_to (currency.id.to_s + " - " + currency.currency_series.to_s), show_note_path(currency), style:"color:black; margin:10px; padding:10px" %>
			
		</div>
	<% end %>
</div>