<h1>Editing Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Show', @note, class:"btn btn-secondary" %> 
<!-- <%= link_to 'Back', notes_path %> -->
<%= link_to 'Back', note_show_currency_path(@note.currency_id), class:"btn btn-dark" %>