<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
                <% if (signature.id == nil) %>
                    <%= @header_new %>
                <% else %>
                    <%= @header_edit %>
                <% end %>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <%= render 'form', signature: signature %>               
        </div>
        <div class="modal-footer">
            <%
=begin%>
 <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button> 
<%
=end%>
            <%= link_to (render 'renders/button_close'), signatures_path, {class:"btn btn-secondary btn-sm"} %>
        </div>
    </div>
</div>