 <div style="text-align:center">
    <h1>Dodaj nową synaturę</h1>
</div> 

 <%= render 'form', signature: @signature %> 

 <%= render 'modal_signature', signature: @signature%> 

 <%= link_to (render 'renders/button_back'), signatures_path, class:"btn btn-secondary btn-sm" %> 

