<% if notice %>
    <div id="hidethis"  onclick="myFunction()" class = "notyfication-position " aria-atomic="true" data-dismiss="alert" >
        <div id = "myDIV" class="container alert alert-info mt-4 notyfication notyfication-notice" role="alert">
            <div class="toast-header">
                <img src="" class="rounded mr-2" alt="">
                <strong class="mr-auto">Pecunia</strong>
                <small>CZAS</small>
                </button>
            </div>
            <div class="toast-body">
                <span class="notice"><%= notice %></span>
            </div>
        </div>
    </div>
<% end %>

<% if alert %>
    <div  onclick="myFunction()" class = "notyfication-position hidethis-alert" aria-atomic="true" data-dismiss="alert" >
        <div id = "myDIV" class="container alert alert-info mt-4 notyfication notyfication-alert" role="alert">
            <div class="toast-header">
                <img src="" class="rounded mr-2" alt="">
                <strong class="mr-auto">Pecunia</strong>
<!--                <small><%#=Time.now.utc %></small>-->
              <small><%= Time.now.utc.strftime("%H:%M:%S") %></small>
                </button>
            </div>
            <div class="toast-body">
                <span class="notice"><%= alert %></span>
            </div>
        </div>
    </div>
<% end %>

<% if info %>
    <div id="hidethis"  onclick="myFunction()" class = "notyfication-position " aria-atomic="true" data-dismiss="alert" >
        <div id = "myDIV" class="container alert alert-info mt-4 notyfication notyfication-info" role="alert">
            <div class="toast-header">
                <img src="" class="rounded mr-2" alt="">
                <strong class="mr-auto">Pecunia</strong>
                <small>CZAS</small>
                </button>
            </div>
            <div class="toast-body">
                <span class="notice"><%= info %></span>
            </div>
        </div>
    </div>
<% end %>


<!-- Skryupt howający element po kliknięciu -->

<script>
    function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
    }
</script>