<b><%= t('shipping_cost') + ":" %></b><br/>
<span> - <%= t('priority_registered_letter_pl') %></span>
<span> - 10 zł<span><br/>
<span style="color:black"> - <%= t('possible_personal_collection') %> </span><br/>