<%
=begin%>
 *******************VIEWS*************************
	- note_collection/show_currency.html.erb
	- note_collection/show_note_user.html.erb
	- note_collection/show_note.html.erb
	- notes/edit.html.erb
	- notes/new.html.erb
	- notes/show.html.erb

	- coin_collection/show_coin_user.html.erb
	- coin_collection/show_coins.html.erb
	- coin_collection/show.html.erb
	- coins/edit.html.erb
	- coins/new.html.erb
	- coins/show.html.erb

	- bond_collection/show.html.erb
<%
=end%>
<% @root_path = Rails.root.join('app', 'assets', 'images','flags') %> 
<div class="container flag-show" >
  <%= @country.country_en %>
  <% if (File.exist?(@root_path + (@country.country_en + '.png'))) %>
		  <div class="">
        	<%= image_tag("flags/" + @country.country_en + ".png", :alt => @country.country_en , class:"size-flag-container") %>
		  </div>
  <% else %>
			<div class="country-flag">			
				<%= image_tag("flags/test.png", :alt => "rss feed" , class:"size-flag-container") %>
			</div>
  <% end %>  	
</div>