<h1>Editing Currency</h1>

<%= render 'form', currency: @currency %>

<%= link_to 'Show', @currency, class:"btn btn-secondary" %>
<%
=begin%>
 <%= link_to 'Back', country_path(@currency.country_id), class:"btn btn-dark" %> 
<%
=end%>
<br/>
