<div class="container row">
	<div class="page-header col-md-2">
		<%= image_tag("header/logo.png", :alt => "rss feed" , :size => "100x100", class:"rounded-circle")%>
		<br/>
	</div>
	<div class="col-md-8" style="text-align: center">
	    <h1>PECUNIA <small>BANKNOTES OF WORLD</small></h1>
    </div>
	<div class="page-header col-md-2">
		<%= image_tag("header/logo.png", :alt => "rss feed" , :size => "100x100", class:"rounded-circle") %>
		<br/>
	</div>
</div>