<div class="container row">
	<div class="page-header col-md-2">
		<%= image_tag("header/logo.png", :alt => "rss feed" , :size => "100x100", class:"rounded-circle")%>
		<br/>
	</div>
	<div class="col-md-7" style="text-align: center">
	    <h1>PECUNIA <small>BANKNOTES OF WORLD</small></h1>
    </div>
	<div class="page-header col-md-2">
		<%= image_tag("header/logo.png", :alt => "rss feed" , :size => "100x100", class:"rounded-circle") %>
	</div>
	<div class="page-header col-md-1">
		<div style="font-size:10px">
			<%= link_to 'English', url_for(locale: :en) %>
			<%= link_to 'Polish', url_for(locale: :pl) %>
		</div>
	</div>

</div>
