<h1>PECUNIA</h1>


<br/>
<%
=begin%>
 <!-- <% @chart.each do |c| %> -->
	<!-- <%= c.name %> </br> -->

<!-- <% end %> -->
<!-- </br> -->
<!-- <%= @dataChart %>  --> 
<%
=end%>
<span ></span>


 <div class="background-flags container">
  <%= render 'home/chart_card' %>
</div> 

<div class="btn btn-secondary btn-sm" style="margin:10px;">
  <a href="https://www.leftovercurrency.com/" style="color:black">Leftover currency</a>
</div>

