<h1>PECUNIA</h1>


<br/>
<%
=begin%>
 <!-- <% @chart.each do |c| %> -->
	<!-- <%= c.name %> </br> -->

<!-- <% end %> -->
<!-- </br> -->
<!-- <%= @dataChart %>  --> 
<%
=end%>
<span ></span>


 <div class="background-flags container">
  <%= render 'home/chart_card' %>
</div> 

<div style=" margin:10px;">
  <a href="https://www.leftovercurrency.com/" style="color:black">
    <%= image_tag("header/leftover-currency-logo.png", :alt => "Leftover currency" ,
    style:"width:30%;height:30%; background-color: lightgrey; padding:10px")%>
  </a>
</div>

