<h1>PECUNIA</h1>
<p>Przepisywanie aplikacji Pecunia do Ruby On Rails</p>
<%= @title %>
<br/>
<%
=begin%>
 <!-- <% @chart.each do |c| %> -->
	<!-- <%= c.name %> </br> -->

<!-- <% end %> -->
<!-- </br> -->
<!-- <%= @dataChart %>  --> 
<%
=end%>
<span ></span>


 <div>
  <%= render 'home/chart_card' %>
</div> 

