<h1>PECUNIA</h1>
<p>Przepisywanie aplikacji Pecunia do Ruby On Rails</p>
<%= @title %>
</br>
<!-- <% @chart.each do |c| %> -->
	<!-- <%= c.name %> </br> -->

<!-- <% end %> -->
<!-- </br> -->
<!-- <%= @dataChart %>  -->
<span ></span>

<div>
  <%= render 'home/chart_card' %>
</div>
