<div class="container">
<%= link_to (render 'renders/button_back'), coin_collection_index_path, class:"btn btn-secondary btn-sm" %> 
	<h3>WALUTY</h3>
	<%= render 'renders/show_flag_country' %>
</div>
<% @currencies.each do |currency| %>
	<div class="btn btn-secondary btn-sm" style="margin:10px;">
		<%= link_to (currency.id.to_s + " - " + currency.data_exchange), show_coins_path(currency), style:"color:black; margin:10px; padding:10px" %>
		
	</div>
<% end %>