<h1><%= t('edit_customer') %></h1>

<%= render 'form', customer: @customer %>

<%= link_to render('renders/button_show'), @customer, class:"btn btn-sm btn-info" %>
<%= link_to render('renders/button_back'), customers_path, class:"btn btn-sm btn-secondary" %>
