<h1>Editing Bought</h1>

<%= render 'form', bought: @bought %>

<%= link_to (render 'renders/button_back'), boughts_path, class:"btn btn-secondary btn-sm" %>
<%= link_to (render 'renders/button_show'), @bought, class:"btn btn-info btn-sm" %>