<div class="container">
    <h3 style="text-align:center"><%= t('note_future_list') %></h3>
    <% if (@note_future_list1.size > 0 ) %>
        <%= render 'note_future/list', notes: @note_future_list1 %>
    <% end %>

    <% if (@note_future_list2.size > 0) %>
        <%= render 'note_future/list', notes: @note_future_list2 %>
    <% end %>
</div>