<h1>Monety do weryfikacj</h1>
<% @root_path = Rails.root.join('app', 'assets', 'images','flags') %> 
<div class="container background-flags ">
  <div class="row">
  	<% @countries.each do |country| %>
  	<div class="col-md-2 position-flag" >  	
    	<%= link_to country.country_en, coin_new_path(country) %>
  		<% if (File.exist?(@root_path + (country.country_en + '.png'))) %>
		  <div class="country-flag">
        	<%= image_tag("flags/" + country.country_en + ".png", :alt => country.country_en , class:"size-flag") %>
		  </div>
        <% else %>
			<div class="country-flag">
				<%= image_tag("flags/test.png", :alt => "rss feed" , class:"size-flag") %>
			</div>
    	<% end %>
  	</div> 
  	<% end %>
  </div>
</div>



