// Place all the styles related to the Bond_collection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image-collection-bond
{
    width:50%;
    height:50%; 
    padding:10px;
}
.item
{
    // margin: 15px;
    width: 50%;
}
