// Place all the styles related to the Goldapi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.green
{
  color: green;
  background: black;
  padding-left: 4px;
}
.red
{
  color: red;
  background: black;
  padding-left: 4px;
}