// Place all the styles related to the Note_Future controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-vsm{
    line-height: 0;
    // min-width: 70px;
    font-size: smaller;
  padding: 4px;
}
