// Place all the styles related to the Order_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*ITEM FOR SELL*/

.nav-tabs .nav-link.active {
  background: aqua;
}
.nav-tabs .nav-link{
  background: #a7a8a8;
  margin-right: 5px;
}
