<h1>Editing Coin</h1>

<%= render 'form', coin: @coin %>

<%= link_to 'Show', @coin %> |
<%
=begin%>
 <%= link_to 'Back', coins_path %> 
<%
=end%>
<%= link_to 'Back', coin_show_currency_path(@coin.currency_id) %>
