<h1> WYBIERZ PAŃSTWO</h1>
<div>
	<nav class="navbar navbar-light bg-light">
  		<form class="form-inline" action='<% @lang %>coin_search'>
    		<input class="form-control mr-sm-2" name="q" placeholder="Search" aria-label="Search" >
    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
				<%= render 'renders/button_search' %>
			</button>
    	</form>
	</nav>
</div>
<%= render 'renders/countries' %>