<div  class="card  text-white bg-info">
  <div class="header">
    <h3>New Coin</h3>
  </div>
  <div class="container">
    <%= render 'notes/show_flag_country' %>
  </div>  
</div>

<%= render 'form', coin: @coin %>

<%
=begin%>
 <%= link_to 'Back', coins_path %> 
<%
=end%>
<%
=begin%>
 <%= link_to 'Back', currency_path(@coin.currency_id), class:"btn btn-dark" %> 
<%
=end%>
