<h1>New Coin</h1>

<%= render 'form', coin: @coin %>

<%
=begin%>
 <%= link_to 'Back', coins_path %> 
<%
=end%>
<%
=begin%>
 <%= link_to 'Back', currency_path(@coin.currency_id), class:"btn btn-dark" %> 
<%
=end%>
